<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">

      <!--queryParams is not a new directive
      but a parameter binding for existing routerLink directive
      through some magic angular determines not only between
      directives/params of the same element but also if
      current parameter belong to either element itself or the directive applied to it
      looks very strange on counter-intuitive yet this is how it works
      -->
      <!--navigation throught link -->
      <a
        [routerLink]="[server.id]"
        [queryParams]="{allowEdit: server.id != 3 ? '1' : '0'}"
        [fragment]="'hashParameter'"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>

    </div>
    <hr/>
    <button class="btn btn-primary" (click)="onToServers()">To /servers</button>
    <hr/>
  </div>
  <div class="col-xs-12 col-sm-4">

    <router-outlet></router-outlet>

  </div>
</div>

