<app-on-push [inputUser]="user"></app-on-push>
<app-default [inputUser]="user"></app-default>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label>Name</label>
  <input name="name" ngModel>
  <label>Age</label>
  <input type="number" name="age" ngModel>
  <button type="submit">Push new data to components</button>
</form>


<div [ngClass]="'first second'">...</div>

<div [ngClass]="['first', 'second', '']">...</div>

<div [ngClass]="{'first': true, 'second': true, 'third': false}">...</div>

<div [ngClass]="{'class1 class2 class3' : true}">...</div>

