<div class="http-compontnt">
  <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
    <label for="title">Title</label>
    <input
      class="form-control"
      id="title"
      required
      ngModel
      name="title"
    />

    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      required
      ngModel
      name="content"
    ></textarea>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!postForm.valid"
    >
      Send Post
    </button>

  </form>

  <hr />

  <button class="btn btn-primary" (click)="onFetchPosts()">
    Fetch Posts
  </button>

  <button
    class="btn btn-danger"
    [disabled]="loadedPosts.length < 1"
    (click)="onClearPosts()"
  >
    Clear Posts
  </button>

  <mat-spinner *ngIf="isFetching" value="25"></mat-spinner>

  <div *ngIf="loadedPosts.length == 0 && !isFetching" class="no-posts url-container">No posts available!</div>

  <ul *ngIf="loadedPosts.length > 0 && !isFetching">
    <li *ngFor="let post of loadedPosts" class="list-group-item">
      <h4>{{post.title}}</h4>
      <p>{{ post.content }}</p>
    </li>
  </ul>


</div>
