<div class="assignments">
  <h2>Assignments</h2>

  <h3>Completed</h3>
  <div class="links">
    <a routerLink="databinding" routerLinkActive="active">Data binding</a>
      |
  </div>

  <h3>To do</h3>
  <div class="links">
    <a routerLink="forms-template" routerLinkActive="active">Forms template</a>
      |
    <a routerLink="forms-reactive" routerLinkActive="active">Forms reactive</a>
      |
    <a routerLink="pipes" routerLinkActive="active">Pipes</a>
      |
  </div>
  <hr />
  <router-outlet></router-outlet>
</div>
