<div class="container">
  <div>
    {{ url }}
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <ul class="nav nav-tabs">
        <!-- Dynamically set class depending on routing state -->
        <!-- Some angular magic will apply this class even to a wrapper element
        despite that routerLink is actually applied on the underneath <a> element
        -->
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/routing-start">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active"><a routerLink="users">Users</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['servers']">Servers</a></li>
      </ul>

    </div>
  </div>
  <div class="row">
    <button (click)="login()">Login</button>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
