<div>
  <h3>There are 4 ways to communicate</h3>
  <ul>
    <li><a href="https://stackblitz.com/edit/child-event-emitter" target="_blank">Event listener via @Output()</a>
    </li>
    <li><a href="https://stackblitz.com/edit/service-inner-logic" target="_blank">Using logic inside service</a>
    </li>
    <li>
      <a
        href="https://stackblitz.com/edit/service-event-emitter"
        target="_blank"
      >
        Using Event emitter inside service
      </a>
    </li>
    <li>
      <a href="https://stackblitz.com/edit/service-subject-observable" target="_blank">Using Subject Observable inside service</a>
    </li>
  </ul>
</div>
<div>
  <app-shopping-list></app-shopping-list>
</div>
